<div class="d-flex justify-content-center" *ngIf='!request'>
  <div class="spinner-border text-center"></div>
</div>

<h1 *ngIf='request'>{{ request.topic }}</h1>

<div *ngIf='request'>
  <h4>Szczegóły</h4>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <dl class="row">
        <dt class="col-sm-4">
          Data utworzenia
        </dt>
        <dd class="col-sm-8">
          {{ request.creationDate  | date:'yyyy-MM-dd' }}
        </dd>
        <dt class="col-sm-4">
          Kategoria
        </dt>
        <dd class="col-sm-8">
          {{ request.categoryName }}
        </dd>
        <dt class="col-sm-4">
          Lokalizacja
        </dt>
        <dd class="col-sm-8">
          {{ request.location }}
        </dd>
        <dt class="col-sm-4">
          Adres
        </dt>
        <dd class="col-sm-8">
          {{ request.address }}
        </dd>
        <dt class="col-sm-4">
          Zgłaszający
        </dt>
        <dd class="col-sm-8">
          {{ request.requester }}
        </dd>
        <dt class="col-sm-4">
          Status
        </dt>
        <dd class="col-sm-8">
          {{ request.statusName }}
        </dd>
        <dt class="col-sm-4">
          Opis
        </dt>
        <dd class="col-sm-8">
          {{ request.content}}
        </dd>
        <dt class="col-md-4">
          <label style="font-weight: bold;">Osoba odpowiedzialna </label>
        </dt>
        <dd class="col-md-8">
          <select *ngIf='allResponsiblePeople' class="col-sm-8 form-control" (change)="responsiblePersonChanged()" [(ngModel)]="selectedPerson" [disabled]="disableComboBoxStatus">
            <option *ngFor="let person of allResponsiblePeople" [value]="person.id"> {{person.name}}</option>
          </select>
        </dd>
      </dl>
      <div class="row divPadding">
        <button class="btn btn-primary" [disabled]="disableSubmitButton" (click)="onSave()">Zapisz</button>
        &nbsp;
        <button class="btn btn-secondary" [routerLink]="['/requests/', request.id]">Anuluj</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="img"><img [src]=[request.photo] class="img-thumbnail"></div>
    </div>
  </div>
</div>
<p></p>
<app-map-component (mapInitialized)="mapInitialized()" [selectEnabled]="false" [coordinatesList]="coordinatesList"></app-map-component>

