.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.image-main {
  filter: brightness(50%);
  width: 100%;
}

.image-text {
  font-size: 50px;
  font-weight: 500;
  color: white;
}
